*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
scroll-behavior: smooth;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:  #3c565d; */
    position: sticky;
    top: 0;
    left: 0;
    background-color:#1a2f41;

 
}

/*LEFT Navigation bar */
#navbar_list{
    display: flex;
 
    width: 70%;
    
}

#navbar_list li {
    list-style: none;
    margin: 25px 25px;
}
#navbar_list li a{
 text-decoration: none;
 color: white;
 font-size: 17px;
}
#navbar_list li a:hover{

 color: gray;
}

#logoimg{
    width: 152px;
    display: flex;
    justify-content: center;
align-items: center;
margin: 4px 0px;

}

#logoimg img{
  width: 36%;
  border-radius: 35px;
  /* border: 2px solid white; */
  height: 90%;
  border: 2px solid white;
 
}


/* RIGHT NAVIGATION BAR */
#right_nav{
text-align: right;
width: 30%;
padding: 0px 25px;
}

#right_nav #search{
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 15px;
}

#right_nav #search_btn{
    padding: 5px 10px;
    border-radius: 6px;
    outline: none;
    border: 2px solid white;
    background: none;
    color: white;
    cursor: pointer;

}
#right_nav #search_btn:hover{
  color: gray;
}

/* BACKGROUND */

.background{
    background: rgba(0, 0, 0, 0.7) url(../images/bg2.jpg);
    background-size: cover;
    background-blend-mode: darken;

}


/* first section */
.box-main{
display: flex;
align-items: center;
justify-content: center;
color: white;
max-width: 80%;
margin: auto;
padding: 20px;
height: 70%;
}

#first_sec{
    height:100vh;
}

#first_half{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#second_half{
    display: flex;
    justify-content: center;
    align-items: center;
}

#second_half img{
    
    width: 60%;
    border: 2px solid white;
    border-radius: 50px;
}

.text_big{
font-size: 40px;
margin: 10px 0px;
}

.text_small{
font-size: 21px;
}

.btn{
    padding: 4px 14px;
    margin: 10px 0px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 16px;
    background: none;
    color: white;
    cursor: pointer;
    margin-right: 4px;
}
.btn:hover{
   color: gray;
}


/* Paras sections */

.sec_info{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 90px auto;
}
/* .sec_tag{
    margin-bottom: 15px;
} */
.content{
    padding-right:20px;
}

.thumbnail{
    display: flex;
    align-items: center;
}
.thumbnail img{
    width: 75%;
    /* border-radius: 5px; */
    /* border: 2px solid gray; */
    box-shadow: 5px 5px 6px darkgray;
    border-radius: 4px;
}

.sec_left{
    flex-direction: row-reverse;
}


/* Contact us section */

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #f1f1f1; */
    background: rgba(0, 0, 0, 0.7) url(../images/bg.jpg);
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    padding-bottom: 40px;

}
.contact .heading{
    /* margin: 15px; */
    font-size: 38px;
    padding: 10px;
}
.form-input {
    width: 65%;
    margin: 10px 0px;
    padding: 6px 6px;
    font-size: 18px;
    border-radius: 8px;
    outline: none;
    border: 2px solid gray;
}

.contact_form{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit-btn{
    padding: 5px 30px;
    margin: 10px 3px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 20px;
    background: none;
    color: white;
    cursor: pointer;

}
.submit-btn:hover{
    color: gray;

}

footer .copyright_line{
    padding: 10px 0px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
background-color:#1a2f41;
color: white;
}

.burger{
display: none;
position: absolute;
cursor: pointer;
right: 5%;
top: 10px;
}

.line{
    width: 33px;
    margin: 5px 3px;
    background-color: white;
    height: 4px;
}
